body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: rgb(28, 28, 211);
    font-size: 40px; 
}
h2{
    color: rgb(28, 28, 211);
}
.orange-red{
    color: rgba(1, 1, 78, 0.938);
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
}

.flexible-container{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 100%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
}
.sp{
    background-image: url(images/Frame\ 57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.center{
    text-align: center;
}
