body{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0;
}
h1{
    color: rgb(28, 28, 211);
    font-weight: bold;
}
.orange-red{
    color: rgba(1, 1, 78, 0.938);
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 25px;
    border-radius: 25px;
}
p{
    font-size: small;
    font-weight: bold;
}
section{
    display: flex;
}
.half-width{
    width: 100%;
    padding-top: 80px;
    padding-left: 50px;
}
.half-width img{
    width: 100%;
    padding-right: 5%;
}